.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer {
  height: 100px;
  width: 100px;
  background-color: blue;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;

  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 50px;
  color: white;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#createNewTimer {
  background-image: linear-gradient(-180deg, #37aee2 0%, #1e96c8 100%);
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 16px;
  justify-content: center;
  padding: 1rem 1.75rem;
  text-decoration: none;
  width: 250px;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#createNewTimer:hover {
  background-image: linear-gradient(-180deg, #1d95c9 0%, #17759c 100%);
}
